<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet"  href="/static/css/public.css"/>
</head>
<body background="/static/img/bj.jpg" style=" background-repeat:no-repeat;background-size:100% 100%; background-attachment: fixed;" >
    <title>登录</title>
    <div class="from">
        <div class="submit">
            <span class="form_title">统一登录</span>
            <div class="form_input">
                <span>账号：</span>
                <div>
                <input class="inputs" type="text" id="id_username" name="username">
                </div>
            </div>
            <div class="form_input">
                <span>密码</span>
                <input class="inputs" type="password" id="id_password"  name="password">
            </div>
            <div class="btn_submit">
                    <button class="btn" onclick="submit()">提交</button></a>
            </div>
        </div>    

</div>

</body>
<script type="text/javascript" src="/static/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/static/js/public.js"></script>
</html>
