<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>报修</title>
    <link rel="stylesheet" href="/static/css/layui.css">
    <link rel="stylesheet" href="/static/css/apply.css">
</head>

<body class="layui-layout-body">
    <div class="layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo">功能列表</div>

            <ul class="layui-nav layui-layout-left">

                <li class="layui-nav-item">
                    <!-- <a href="javascript:;">其它系统</a> -->
                    <dl class="layui-nav-child">
                        <dd><a href="">授权管理</a></dd>
                    </dl>
                </li>
            </ul>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a id="id_username">
                        <!-- <img src="./images/img.jpg" class="layui-nav-img"> -->
                        username
                    </a>
                    <dl class="layui-nav-child">
                    </dl>
                </li>
                <li class="layui-nav-item"><a onclick="logout()">退出</a></li>
            </ul>
        </div>

        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                <ul class="layui-nav layui-nav-tree" lay-filter="test">
                    <li class="layui-nav-item layui-nav-itemed">
                        <a>功能</a>
                        <dl class="layui-nav-child">
                            <a href="/report">主页</a>
                            <a href="/record">报修记录</a>
                            <a href="/add">添加报修</a>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>
        <div class="layui-body">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>报修记录
       
        </legend>
        </fieldset>
        <div id = "show"></div>
    </div>
</div>
<script type="text/javascript" src="/static/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/static/js/public.js"></script>
<script type="text/javascript">
    record();
</script>
</body>

</html>